#spotlight {
  background-color: black;
  display: inline-block;
  width: 100%;
  position: relative;
  padding-bottom: 30px;
}

.slider {
  width: 1500px;
  max-width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}

.slider .list img {
  width: 100%;
  max-width: 100vw;
  min-width:  100%;
  object-fit: cover;
  overflow: hidden;
  min-height: 100%;
}

.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  color: purple;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: white;
  margin: 0 5px;
  /* Adjust the margin for spacing between dots */
  border: 1px solid black;
  border-radius: 20px;
  transition: 0.5s;
}

.dots li.active {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .slider {
    height: 235px;
    min-width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
  }

  .slider .list img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    min-width: 100%;
  }
}

.slider .item {
  position: relative;
  text-align: center;
  /* Center text within the item */
}

.slider .caption {
  position: absolute;
  bottom: 0;
  /* Position the caption at the bottom of the item */
  left: 0;
  /* Align the caption to the left of the item */
  width: 100%;
  /* Make the background span the full width */
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust the background color and transparency */
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
