@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;1,9..40,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    ;
}

body {
    color: white;
    background-color: rgb(5, 5, 5);
}

#prev,
#next {
    border: 1px solid dimgrey;
}

a {
    color: white;
}

.search-box {
    padding-top: 15px;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    background-color: black;
}

.s-box {
    border: 1px solid black;
    height: 25px;
    border-radius: 8px;
    width: 100%;
}

.ri-search-line {
    float: left;
    margin-top: 3px;
    font-size: large;
    color: white;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.release-box {
    background-color: black;
    padding-top: 10px;
    margin: 0;
}

.release-box h2 {
    padding-left: 10px;
}

.tr-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin-right: 0;
}

.tr-item {
    display: flex;
    box-sizing: border-box;
    flex: 0 1 calc(50% - 10px);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.tr-item img {
    width: 100%;
    height: auto;
    display: block;
}

.tr-item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 600px) {
    .tr-item {
        flex: 0 1 calc(33.333% - 10px);
    }
}

@media (min-width: 800px) {
    .tr-item {
        flex: 0 1 calc(25% - 10px);
    }
}

@media (min-width: 1024px) {
    .tr-item {
        flex: 0 1 calc(20% - 10px);
    }
}

@media (min-width: 1500px) {
    .tr-item {
        flex: 0 1 calc(18% - 10px);
    }
}

@media (min-width: 1800px) {
    .tr-item {
        flex: 0 1 calc(14% - 10px);
    }
}

@media (min-width: 2200px) {
    .tr-item {
        flex: 0 1 calc(13% - 10px);
    }
}

@media (min-width: 2500px) {
    .tr-item {
        flex: 0 1 calc(15% - 35px);
    }
}

@media (min-width: 2800px) {
    .tr-item {
        flex: 0 1 calc(15% - 50px);
    }
}

.see-more-release {
    text-align: center;
    padding-bottom: 20px;
}

.see-more-button {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid transparent;
    border-radius: 50px;
    color: rgb(141, 10, 255);
}

.see-more-button:hover {
    background-color: rgb(141, 10, 255);
    color: white;
}

@media (min-width:1024px) {

    /* Style for the columns */
    .home-column1 {
        float: left;
        width: 70%;
        box-sizing: border-box;
    }

    .home-column2 {
        float: left;
        width: 30%;
        box-sizing: border-box;
    }

    /* Clear the float to prevent issues with following elements */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
}

.all-time-trending {
    padding-left: 10px;
    overflow: hidden;
}

.att-item {
    border-right: 5px solid;
    border-radius: 5px;
    margin-bottom: 10px;
}

.att-item h2 {
    font-family: 'Oswald', sans-serif;
}

.att-column-1 {
    float: left;
    width: 10%;
    box-sizing: border-box;
    text-align: left;
    font-size: 30px;
    margin-top: 30px;
}

.att-column-2 {
    float: left;
    width: 20%;
    box-sizing: border-box;
}

.att-column-3 {
    float: left;
    width: 70%;
    text-align: center;
    box-sizing: border-box;
    margin-top: 40px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.att-item:nth-of-type(1) {
    border-color: rgb(141, 10, 255);
}

.att-item:nth-of-type(1) h2 {
    color: black;
    text-shadow: -1px -1px 0 rgb(141, 10, 255), 1px -1px 0 rgb(141, 10, 255), -1px 1px 0 rgb(141, 10, 255), 1px 1px 0 rgb(141, 10, 255);
}

.att-item:nth-of-type(2) {
    border-color: crimson;
}

.att-item:nth-of-type(2) h2 {
    color: black;
    text-shadow: -1px -1px 0 crimson, 1px -1px 0 crimson, -1px 1px 0 crimson, 1px 1px 0 crimson;
}

.att-item:nth-of-type(3) {
    border-color: gold;
}

.att-item:nth-of-type(3) h2 {
    color: black;
    text-shadow: -1px -1px 0 gold, 1px -1px 0 gold, -1px 1px 0 gold, 1px 1px 0 gold;
}

.att-item:nth-of-type(4),
.att-item:nth-of-type(5),
.att-item:nth-of-type(6),
.att-item:nth-of-type(7),
.att-item:nth-of-type(8),
.att-item:nth-of-type(9),
.att-item:nth-of-type(10) {
    border-color: black;
}

.att-item:nth-of-type(4) h2,
.att-item:nth-of-type(5) h2,
.att-item:nth-of-type(6) h2,
.att-item:nth-of-type(7) h2,
.att-item:nth-of-type(8) h2,
.att-item:nth-of-type(9) h2,
.att-item:nth-of-type(10) h2 {
    color: black;
    text-shadow: -1px -1px 0 darkgray, 1px -1px 0 darkgray, -1px 1px 0 darkgray, 1px 1px 0 darkgray;
}