#top-header {
    color: white;
    background-color: black;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    padding-right: 5px;
    border-bottom: 1px solid rgb(27, 27, 27);
}

#logo {
    width: 100px;
    padding-left: 10px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#top-header a {
    text-decoration: none;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar a {
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.5 ease;
    font-weight: bold;
}

.navbar a:hover {
    color: var(--main-color);
}

.nav-main {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#menu-icon {
    font-size: 23px;
    cursor: pointer;
    z-index: 10000;
    display: none;
}

#menu-close-icon {
    font-size: 27px;
    cursor: pointer;
    z-index: 10000;
    display: none;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1147px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: fixed;
        right: -100%;
        top: 20px;
        width: 270px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.9);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        flex-direction: column;
        text-align: left;
        border-radius: 10px;
        transition: right 0.5s ease;
        z-index: 2000;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all 0.5s ease;
    }

    .navbar a:hover {
        color: var(--main-color);
    }

    .navbar.nav-open {
        right: 0;
    }
}

.nav-account {
    position: relative;
    display: inline-block;
}

#na-dropdown-icon {
    font-size: 18px;
    margin-right: 20px;
}

#na-dropdown-icon:hover {
    color: var(--main-color);
    cursor: pointer;
}

.na-dropdown-content {
    text-align: left;
    position: fixed;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    min-width: 110px;
    top: 50px;
    right: -100%;
    border-radius: 10px;
    display: block;
    transition: right .3s ease;
}

.na-dropdown-content.na-dc-open {
    right: 0;
}

.na-dropdown-content ul {
    list-style-type: none;
    transition: all .3s ease;
}

.na-dropdown-content ul li {
    margin: 12px 0;
    padding: 0 25px;
    font-weight: bold;
    cursor: pointer;
}

#search-icon_1 {
    margin-right: 20px;
    font-size: 18px;
}

#search-icon_1:hover {
    color: var(--main-color);
    cursor: pointer;
}

.search-box-container {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    display: none;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    background-color: black;
    position: fixed;
    left: 0;
    margin-top: 125px;
    z-index: 200;
    border-bottom: 1px solid rgb(27, 27, 27);
}

#search-icon-direct {
    margin: 4px 5px;
}

@media (min-width: 1281px){
    .search-box-container {
        margin-top: 90px;
    }
}

.search-box {
    border: 1px solid black;
    height: 25px;
    border-radius: 8px;
    width: 100%;
}

#bell-icon {
    margin-right: 20px;
    font-size: 18px;
}

#bell-icon:hover {
    color: var(--main-color);
    cursor: pointer;
}

#noti-modal {
    width: 40vw;
    left: -100%;
    top: 78px;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    transition: left .3s ease;
    position: fixed;
    z-index: 400;
}

#noti-modal.noti-modal-open {
    left: 0;
}

#noti-modal p {
    text-align: center;
    transition: all .3s ease;
}

@media only screen and (min-width: 0) and (max-width: 768px) {
    #noti-modal {
        width: 200px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    #noti-modal {
        width: 350px;
    }
}

@media (min-width: 1281px){
    #noti-modal {
        top: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    #noti-modal {
        width: 400px;
    }
}

@media only screen and (min-width: 1800px) and  (max-width: 2500px){
    #noti-modal {
        width: 400px;
    }
}

@media (min-width: 1130px){
    #na-dropdown-icon {
        margin-right: 13px;
    }

    #bell-icon {
        margin-right: 13px;
    }

    #search-icon_1 {
        margin-right: 13px;
    }
}