body {
    background-color: black;
    border-right: 1px solid #111;
}

.home-column1,
.home-column2 {
    background-color: #111;
}

.video-container {
    width: 100%;
    background-color: #111;
    padding: 10px;
}

.video-content {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.video-content p {
    text-align: center;
}

@media (max-width: 767px) {
    .video-content {
        height: 30vh;
    }
}

iframe {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.video-controls {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.video-content,
.video-controls {
    background-color: black;
}

#to-previous-vid {
    color: slateblue;
    margin-right: 10px;
    margin-top: 2px;
}

#to-next-vid {
    color: slateblue;
    margin-left: 10px;
    margin-top: 2px;
}

#current-watch {
    margin-top: 1px;
    padding: 5px;
    color: slateblue;
}

.episode-list {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    overflow-y: auto;
    max-height: 300px;
}

.ep-li-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 7px;
    cursor: pointer;
}

.ep-li-item:nth-of-type(odd) {
    background-color: #111;
}

.ep-li-item:nth-of-type(even) {
    background-color: #222;
}

.ep-li-item:hover,
.ep-li-item:hover .ep-li-num,
.ep-li-item:hover .ep-li-title {
    background-color: gray;
    color: black;
}

.ep-li-content {
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.ep-li-num {
    width: 5%;
    padding: 5px;
}

.ep-li-title {
    width: 95%;
    padding: 5px;
}

#anime-info {
    width: 100%;
    background-color: #111;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.anime-img {
    width: 30%;
    display: flex;
    align-items: flex-start;
}

.anime-img img {
    width: 100%;
    object-fit: cover;
}

.anime-desc {
    width: 70%;
    padding: 10px;
}

.anime-img,
.anime-desc {
    background-color: black;
}

.ani-desc-head {
    color: slateblue;
}

.ani-desc-head-alt {
    color: darkgray;
}

.ani-desc-status {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: darkgray;
}

.ani-desc-status > p {
    margin-top: 2.5%;
}

.ani-desc-plot {
    margin-top: 2.5%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}

.ani-plot-toggle {
    -webkit-line-clamp: initial;
    -moz-line-clamp: initial;
}

.ani-desc-status > p:last-child {
    cursor: pointer;
}

#season-list {
    padding: 0 10px;
    width: 100%;
}

#season-block-wrapper {
    width: 100%;
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
}

.season-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 30%;
    padding: 70px;
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    overflow: hidden;
    filter: grayscale(100%);
    position: relative;
}

a .season-block {
    text-decoration: none;
}

.season-block:hover {
    filter: grayscale(0);
}

.season-block.active {
    filter: grayscale(0);
} 

.season-block p {
    display: block;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#comment-section {
    padding: 10px;
}

#disqus_thread {
    margin-top: 10px;
    padding: 10px;
    background-color: black;
}

#trending-list-container {
    background-color: #111;
    padding: 10px;
    width: 100%;
}

.trending-list {
    width: 100%;
    padding-top: 10px;
}

.trending-list-item {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;  
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
}

.tli-img {
    width: 20%;
    overflow: hidden;
}

.tli-text {
    width: 80%;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0 10px
}

#spotlight-container {
    background-color: #111;
    padding: 10px;
    width: 100%;
}

.spotlight-list-item {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;   
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
}

.spotlight-list {
    width: 100%;
    padding-top: 10px;
}

.sli-img {
    width: 20%;
    overflow: hidden;
}

.sli-text {
    width: 80%;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0 10px
}

#video-server-notice {
    margin-left: 10px;
}

#video-server-notice p {
    background-color: black;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
}